In [2]:
import pandas as pd
import numpy as np
from numpy.random import choice
import datetime

In [3]:
data = pd.read_csv('data.csv')
data.head()

,Date of Birth,Provider Name,Program Name,Current Status,Enrollment Date,Highest Milestone
0,04/11/1985,Dario Health,DMP,Enrolled,06/13/2025,Enrolled
1,11/08/1988,Sword Health,MSK-HIGH,Enrolled,06/13/2025,MSK_HIGHM1
2,05/19/1989,Headspace,SSR,Enrolled,06/13/2025,SSRM1
3,12/28/1997,Betr Health,NDPP,Enrolled,06/13/2025,M1
4,05/14/1985,Headspace,SSR,Enrolled,06/13/2025,SSRM1

In [4]:
gender = ['F', 'M']
randomized_gender = choice(gender, len(data), p=[0.496, 0.504])
data['Gender'] = randomized_gender

In [5]:
race = ['Latino', 'White', 'Asian American or Pacific Islander', 'Black', 'Multiracial', 'Native American or Alaskan Native']
randomized_race = choice(race, len(data), p=[0.4, 0.34, 0.16, 0.06, 0.03, 0.01])
data['Race'] = randomized_race

In [6]:
lob = pd.DataFrame()
lob['LOB'] = ['IFP', 'Medicare', 'Medi-CAL', 'Small Group', 'Middle Market', 'Premier', 'CalPERS']
lob['Membership Counts'] = [700, 400, 600, 500, 400, 500, 450]
lob['Proportion of Membership'] = lob['Membership Counts'] / sum(lob['Membership Counts'])

In [7]:
lob_list = list(lob['LOB'])
data['LOB'] = choice(lob_list, len(data), p=list(lob['Proportion of Membership']))

In [8]:
now = datetime.datetime.now()
current_year = now.year
data['Date of Birth'] = pd.to_datetime(data['Date of Birth'])
data['Age'] = current_year - data['Date of Birth'].dt.year
data

,Date of Birth,Provider Name,Program Name,Current Status,Enrollment Date,Highest Milestone,Gender,Race,LOB,Age
0,1985-04-11,Dario Health,DMP,Enrolled,06/13/2025,Enrolled,F,White,Medi-CAL,40
1,1988-11-08,Sword Health,MSK-HIGH,Enrolled,06/13/2025,MSK_HIGHM1,M,Latino,Medi-CAL,37
2,1989-05-19,Headspace,SSR,Enrolled,06/13/2025,SSRM1,M,Latino,IFP,36
3,1997-12-28,Betr Health,NDPP,Enrolled,06/13/2025,M1,M,White,CalPERS,28
4,1985-05-14,Headspace,SSR,Enrolled,06/13/2025,SSRM1,F,Latino,Premier,40
...,...,...,...,...,...,...,...,...,...,...
23826,1971-01-30,Headspace,SSR,Enrolled,12/16/2024,SSRM1,F,White,Small Group,54
23827,1964-06-29,Headspace,SSR,Enrolled,12/16/2024,SSRM1,M,Latino,Small Group,61
23828,1964-11-30,Sworkit Fitness,MSK-LOW,Enrolled,12/16/2024,MSK_LOWM3,M,White,IFP,61
23829,1962-08-22,Dario Health,HTN,Enrolled,12/16/2024,HTNM4,F,White,Middle Market,63
23830,1962-06-17,Headspace,SSR,Disenrolled,12/16/2024,SSRM1,M,Latino,IFP,63

In [9]:
data.to_excel('data_v01.xlsx')

In [10]:
data['Enrollment Date'].unique()

array(['06/13/2025', '06/12/2025', '06/11/2025', '06/10/2025',
       '06/09/2025', '06/08/2025', '06/07/2025', '06/06/2025',
       '06/05/2025', '06/04/2025', '06/03/2025', '06/02/2025',
       '06/01/2025', '05/31/2025', '05/30/2025', '05/29/2025',
       '05/28/2025', '05/27/2025', '05/26/2025', '05/25/2025',
       '05/24/2025', '05/23/2025', '05/22/2025', '05/21/2025',
       '05/20/2025', '05/19/2025', '05/18/2025', '05/17/2025',
       '05/16/2025', '05/15/2025', '05/14/2025', '05/13/2025',
       '05/12/2025', '05/11/2025', '05/10/2025', '05/09/2025',
       '05/08/2025', '05/07/2025', '05/06/2025', '05/05/2025',
       '05/04/2025', '05/03/2025', '05/02/2025', '05/01/2025',
       '04/30/2025', '04/29/2025', '04/28/2025', '04/27/2025',
       '04/26/2025', '04/25/2025', '04/24/2025', '04/23/2025',
       '04/22/2025', '04/21/2025', '04/20/2025', '04/19/2025',
       '04/18/2025', '04/17/2025', '04/16/2025', '04/15/2025',
       '04/14/2025', '04/13/2025', '04/12/2025', '04/11/2025',
       '04/10/2025', '04/09/2025', '04/08/2025', '04/07/2025',
       '04/06/2025', '04/05/2025', '04/04/2025', '04/03/2025',
       '04/02/2025', '04/01/2025', '03/31/2025', '03/30/2025',
       '03/29/2025', '03/28/2025', '03/27/2025', '03/26/2025',
       '03/25/2025', '03/24/2025', '03/23/2025', '03/22/2025',
       '03/21/2025', '03/20/2025', '03/19/2025', '03/18/2025',
       '03/17/2025', '03/16/2025', '03/15/2025', '03/14/2025',
       '03/13/2025', '03/12/2025', '03/11/2025', '03/10/2025',
       '03/09/2025', '03/08/2025', '03/07/2025', '03/06/2025',
       '03/05/2025', '03/04/2025', '03/03/2025', '03/02/2025',
       '03/01/2025', '02/28/2025', '02/27/2025', '02/26/2025',
       '02/25/2025', '02/24/2025', '02/23/2025', '02/22/2025',
       '02/21/2025', '02/20/2025', '02/19/2025', '02/18/2025',
       '02/17/2025', '02/16/2025', '02/15/2025', '02/14/2025',
       '02/13/2025', '02/12/2025', '02/11/2025', '02/10/2025',
       '02/09/2025', '02/08/2025', '02/07/2025', '02/06/2025',
       '02/05/2025', '02/04/2025', '02/03/2025', '02/02/2025',
       '02/01/2025', '01/31/2025', '01/30/2025', '01/29/2025',
       '01/28/2025', '01/27/2025', '01/26/2025', '01/25/2025',
       '01/24/2025', '01/23/2025', '01/22/2025', '01/21/2025',
       '01/20/2025', '01/19/2025', '01/18/2025', '01/17/2025',
       '01/16/2025', '01/15/2025', '01/14/2025', '01/13/2025',
       '01/12/2025', '01/11/2025', '01/10/2025', '01/09/2025',
       '01/08/2025', '01/07/2025', '01/06/2025', '01/05/2025',
       '01/04/2025', '01/03/2025', '01/02/2025', '01/01/2025',
       '12/31/2024', '12/30/2024', '12/29/2024', '12/28/2024',
       '12/27/2024', '12/26/2024', '12/25/2024', '12/24/2024',
       '12/23/2024', '12/22/2024', '12/21/2024', '12/20/2024',
       '12/19/2024', '12/18/2024', '12/17/2024', '12/16/2024'],
      dtype=object)

In [12]:
data.shape

(23831, 10)

In [13]:
data.columns

Index(['Date of Birth', 'Provider Name', 'Program Name', 'Current Status',
       'Enrollment Date', 'Highest Milestone', 'Gender', 'Race', 'LOB', 'Age'],
      dtype='object')